* {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:active,
a:focus,
button:focus {
  outline: none;
}
