// ! Color inspiration
// ? PestShopBoys.co.uk
// http://palette.site/palettes/bc6bea
// Coolors Exported Palette - coolors.co/010101-1a67f5-007e53-c7edc6-fe6601

:root {
  @include defineColorHSL(--color--red, 24, 99%, 50%);
  @include defineColorHSL(--color--green, 160, 100%, 25%);
  @include defineColorHSL(--color--mint, 119, 53%, 85%);
  @include defineColorHSL(--color--blue, 219, 92%, 53%);
  @include defineColorHSL(--color--purple, 238, 63%, 24%);
}

:root,
[data-theme="red"] {
  --bg: var(--color--red);
  --text: var(--color--green);
  --link: var(--color--purple);
  --hover: var(--color--blue);
  --accent: var(--accent--mint);
}

:root,
[data-theme="green"] {
  --bg: var(--color--green);
  --text: var(--color--red);
  --link: var(--color--purple);
  --hover: var(--color--blue);
  --accent: var(--accent--mint);
}

:root,
[data-theme="mint"] {
  --bg: var(--color--mint);
  --text: var(--color--purple);
  --link: var(--color--red);
  --hover: var(--color--blue);
  --accent: var(--accent--mint);
}

:root,
[data-theme="blue"] {
  --bg: var(--color--blue);
  --text: var(--color--mint);
  --link: var(--color--purple);
  --hover: var(--color--blue);
  --accent: var(--accent--mint);
}

:root,
[data-theme="purple"] {
  --bg: var(--color--purple);
  --text: var(--color--mint);
  --link: var(--color--red);
  --hover: var(--color--blue);
  --accent: var(--accent--mint);
}

[data-theme] {
  transition: all 0.5s ease;
  transition: background-color 0.7s ease;

  background-color: var(--bg);
  color: var(--text);
  border: var(--link);
}
