.footer {
  font-family: $font-europa;
  font-variant: small-caps;

  position: absolute;
  right: 10%;
  left: 10%;
  width: 80%;
  padding: 30px auto;
  bottom: 4%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  &__icons {
    min-width: 60%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    &--icon {
      margin: 10px;
      cursor: pointer;
      color: var(--link);
      text-decoration: none;
    }
  }
  &__button--fetch {
    @extend .footer__icons--icon;
    padding: 15px;
    background: none;
    border: none;
    svg {
      transform: scale(2.3);
    }
  }
}
