/* Coolors Exported Palette - coolors.co/010101-1a67f5-007e53-c7edc6-fe6601 */

/* HSL */
$color1: hsla(238, 63%, 24%, 1);
$color2: hsla(219, 92%, 53%, 1);
$color3: hsla(160, 100%, 25%, 1);
$color4: hsla(118, 52%, 85%, 1);
$color5: hsla(24, 99%, 50%, 1);

/* RGB */
$color1: rgba(22, 25, 98, 1);
$color2: rgba(26, 103, 245, 1);
$color3: rgba(0, 126, 83, 1);
$color4: rgba(199, 237, 198, 1);
$color5: rgba(254, 102, 1, 1);
